.container-2{
    margin-top: 100px;
}


.bgimage1{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center top;
    background-size: 70px;

}
.bgimage2{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center left;

}
.row{
    padding: 20px 30px;
}
.col-md-7{
    padding-right: 120px;
}
.see-all{
    color: #FF9D01;
}
.card{
    box-shadow: 5px 5px 10px lightgray;
    border: none;
}
.card-body {
    text-align: center;
}
.card-footer{
    background-color: white;
    border: none;
    
}
.btn{
    font-size: 12px;
}
.catagories{
    text-align: center;
}
.pale-order{
    width: 500px;
}
.cat2{
    width: 200px;

}
.cat1{
    width: 200px;
}
.cat3{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 10px lightgray;
    position: relative;
    left: -10px;
}


footer{
    text-align: center;
    font-size: 10px;
    color: gray;
}
